/* BACKGROUND */

body {
  background: url('https://i.postimg.cc/4xcj2ccz/IMG-1862.jpg') center center fixed;
  background-size: cover;
  color: #3E4D34;
}

/* HEADERS */

h1 {
  color: #D8B55B !important;
  text-shadow: 0 0 10px #000;
}

h2 {
  color: #D8B55B !important;
}

h3 {
  color: #D8B55B !important;
}

/* LINKS */

a:link,
a:visited {
  color: #90B66E !important;
}

a:hover {
  color: #5e7549 !important;
}

/* PANELS */

.panel {
  background: rgba(62, 77, 52, .5) !important;
  color: #E8E2D4 !important;
  border: 1px solid #5B4430 !important;
  border-radius: 10px !important;
}

/* MAIN CONTAINER */

.container.main {
background: rgba(62, 77, 52, .5);
border: none;
box-shadow: none;
border-radius: 5px; }
.col-md-9 {
background: none; } 

/* NAVBAR */

.topbar {
background: #2F3A2A !important;
color: #E8E2D4 !important;
border: none !important;
border-radius: 0px !important;  }
 
.navbar {
background: #2F3A2A !important;
color: #E8E2D4 !important;
border: none !important;
border-radius: 0px !important; }

.navbar li a:hover {
background: #2F3A2A !important;
color: #E8E2D4 !important; }

.top, .bottom, th {
background: #2F3A2A !important;
color: #E8E2D4 !important;
border: none !important;
border-radius: 0px !important; }

.navbar-toggle {
border: none !important;
background: #2F3A2A !important;
}

.navbar-collapse {
box-shadow: none !important;
border-top: none !important;
}

/* Bookmark Bar */

.breadcrumb {
background: #2F3A2A !important;
color: #E8E2D44 !important;
border: none !important;
border-radius: 0px !important;} 
.breadcrumb .active {
color: #E8E2D4; }

/* Comment Box */

div#commentBox {
background: #2F3A2A !important;
border: none !important;
border-radius: 0px !important;
color: #E8E2D4 !important;}

/* TABLE HEADERS */

.top,
.bottom,
th {
  background: #2F3A2A !important;
  color: #E8E2D4 !important;
}

.feature {
background: #3E4D34 !important;
color: #E8E2D4 !important;
border: 3px double #5B4430 !important;
border-radius: 0px !important;  }

div.left {
background: #3E4D34 !important;
color: #E8E2D4 !important;
border: none !important;
border-radius: 0px !important; }

.table .left {
background: #3E4D34;
border-radius: 0px !important; }

.inner-table .left {
background: #3E4D34 !important;
border-radius: 0px !important;  }

.inner-table .right {
background: #3E4D34 !important;
border-radius: 0px !important; 
color: #E8E2D4 !important; } 

.right_odd {
background: #3E4D34 !important; }

/* PROGRESS BARS */

.progress {
  background: #0B0813 !important;
}

.progress-bar {
  background: #9C6A9A !important;
}

.progress-bar-warning {
  background: #C8A75A !important;
}

.progress-bar-danger {
  background: #7A3A57 !important;
}

.progress-bar-success {
  background: #6F5B94 !important;
}

/* CHAT */

.s-chat-message:nth-child(odd) {
  background: #3E4D34 !important;
}

.s-chat-message:nth-child(even) {
  background: #3E4D34 !important;
}

.s-chat-message {
  color: #E8E2D4 !important;
}

/* BUTTONS */

input,
textarea,
select,
button.button,
a.btn.btn-default.button {
  background: #2C2140 !important;
  color: #D7D0C9 !important;
  border: 1px solid #9C6A9A !important;
}

/* SCROLLBAR */

::-webkit-scrollbar-track {
  background: #3E4D34;
}

::-webkit-scrollbar-thumb {
  background: #9C6A9A;
}